:root {
  --white: #fff;
  --gray-lightest: #eff1f5;
  --gray: #aaaeb6;
  --dark: #696579;
  --darker: #52485d;
  --tan: #fdecca;
  --brown: #b97822;
  --danger: #d83a6a; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  font-size: 1rem;
  margin: 0;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.5;
  background-color: var(--gray-lightest);
  min-height: 100vh;
  padding-bottom: 5rem;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */ }

h1 {
  font-family: georgia, times, serif; }

a {
  color: var(--brown);
  text-decoration: none; }

.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  color: var(--brown);
  padding: 1rem 0 3.75rem; }
  .header__content {
    display: block;
    align-items: center;
    text-align: center;
  }
  .header__title {
    font-size: 2.75rem;
    margin: 1rem 0 2rem; } 
  .header__image {
    padding: 1rem;
    background-color: var(--white);
    width: 100%;
  }
  .header__subtitle {
    font-size: 2rem;
    margin: 2rem auto 0;
    max-width: 36rem; }

.top {
  display: flex;
  flex-direction: column;
  align-items: center; 
  font-size: 1.5rem; }
  @media (min-width: 576px) {
    .top {
      flex-direction: row; }
      .top__logo {
        margin-right: auto; }
      
      .top__nav__item:last-child {
        margin-right: -2rem; } }

.nav {
  padding-left: 3rem; 
}

.nav__item {
  display: inline-block;
  padding: 1rem 1.75rem;
  color: var(--darker); }
  .nav__item:hover {
    color: var(--gray); }

.nav .active {
  color: var(--dark); }

.container {
  max-width: 1134px;
  padding: 0 2rem;
  margin: 0 auto; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

.about-us, .our-team, .visit-us, .contact-us {
  text-align: center;
  margin: 0 0 3rem;
}
  .about-us__title, .our-team__title, .visit-us__title, .contact-us__title {
    position: relative;
    background: #24252A;
    padding: 30px;
    top: 5%;
    font-size: 3.5rem;
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-style: oblique; }

.visit-us {
  margin: 0 0 3rem;
}

.contact-us {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  line-height: 5rem;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 2.375rem;
  margin-top: 3.125rem; }

.box {
  display: flex;
  flex-direction: column;
  padding: 1.75rem;
  border-top: .1875rem solid transparent;
  border-bottom: 0.125rem solid rgba(0, 50, 100, 0.13);
  border-radius: .1875rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
  background-color: var(--white);
  text-align: center; }
  .box img {
    width: 100%; }
  #jen {
    width: 98.9%; }
  #suzy {
    width: 100%; }
  #emara {
    width: 97.3%; }
  #tina {
    width: 100%; }
  .box__button {
    font-weight: 700;
    margin: auto 0 0; }

.details {
  background-color: var(--dark);
  color: var(--white);
  text-align: center;
  font-size: 2rem;
  padding: 1.0625rem;
  transition: all .15s ease-in-out; }

.google-map {
  height: 300px;
}

.footer {
  text-align: center;
  font-size: 0.75rem;
}

.facebook {
  padding: 3rem;
}

.facebook a{
  color: blue;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  /* Start: Grid Fallback */
  header {
    color: white; }
  .box {
    display: inline-block;
    width: 33%;
    color: gray; }
  /* End: Grid Fallback */ }
